<%- include('../partials/header'); -%>

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>SERIES</h2>
          <p class="lead">Todas as séries cadastradas   <a href="/series/nova" class="btn btn-primary">Nova Serie</a></p>
          

            <table class="table table-hover">
             
               
                  <% series.forEach( serie => { %>
                    <tr>
                    <td width="300px"> <a href="/series/info/<%= serie._id %>"> <%= serie.name %> </a></td>
                    <td>
                      <span class="badge badge-secondary">
                      <%= labels.filter( label => label.id === serie.status)[0].name %>
                      </span>
                    </td>
                    <td> <a href="/series/editar/<%= serie._id %>" class="btn btn-info">Editar</a> <a href="/series/excluir/<%= serie._id %>" class="btn btn-warning">Excluir</a> </td>
                  </tr>
                  <% }) %> 
                 
           
             </table>
             
             
           
        </div>
      </div>
    </div>
  </section>


<%- include('../partials/footer'); -%>